{%  extends "base.html" %}

{% block title %} BenShop {%  endblock %}

{%  block content %}
   <p>Welcome to my store</p>

   <br>

   <ul>
      {% for p in products  %}
          <li>{{ p.name }} - €{{p.price}} - {{p.description}}</li> <!--Use double curly bracket for a variable in django-->
          
           <a href="/products/{{p.id}}">
               <img src="{{p.product_image.url}}" alt="{{p.name}}"/>
          </a>

          <a href="/products/{{p.id}}">View</a>
      {% endfor %}
  </ul>

  <br>

{%  endblock %}