<%- include('header') -%>
        <title><%= title %></title>

	</head>
	<body>

		<h1>Shopping Basket</h1>

		<p class="message" id="empty"></p> <!--Used for empty baskets-->

		<div class="parent-div" id="cart"></div>

		<script src="javascripts/viewcart.js"></script>
		
<%- include('footer') -%>