<html>
	<head>
		<!-- css and js libraries go here -->
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<!-- code to show the navbar goes here -->

	<!-- footer code -->
	</body>
</html>