<!DOCTYPE html>

<html lang="'en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- css and js libraries go here -->
        <link rel='stylesheet' href='/stylesheets/style.css' />

		<!-- Link for navbar stylesheet -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	</head>

	<body>
		<!-- code to show the navbar goes here -->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
	
				<div class="navbar-header">
					<a class="navbar-brand" href="/">BenShop</a>
				</div>
	
				<!--Links to products based on "tag" attribute in models.py will be added-->
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="#">Phones</a></li>
					<li><a href="#">Audio</a></li>
					<li><a href="#">Computing</a></li>
				</ul>
	
				<ul class="nav navbar-nav navbar-right">
				  <!--Load basket link if user is signed in-->
						<li><a href="/basket"><span class=""></span> Shopping Basket</a></li>
	
					<!--Load order history if user is signed in-->
						  <li><a href="/order"><span class=""></span> Order History</a></li>
	
					<li><a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
	
					<!--Load login/logout button-->
						<li><a href="/login" id="auth-link"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	
				</ul>
			</div>
		</nav>
