<%- include('header') -%>
		<!-- code to show the navbar goes here -->

		<!-- Check for whether user is logged in is done in header.ejs-->

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ol id="prodlist"></ol>

    <script src="/javascripts/index.js"></script>

	<!-- footer code -->
	<script src="/javascripts/login.js"></script>
</body>
</html>
