<%- include('header') -%>
<!-- Check for whether user is logged in is done in header.ejs-->

		<div class="prod-div" id="prod-details"></div>

	<!-- footer code -->
	<script src="/javascripts/individual.js"></script>

<%- include('footer') -%>