<html>
	<head>
		<!-- css and js libraries go here -->
        <title></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>

		<ul id="prod-details">
			<!--Can hide bullet points with css-->
		</ul>

	</head>
	<body>
		<!-- code to show the navbar goes here -->

	<!-- footer code -->
	<script src="/javascripts/individual.js"></script>
	<script src="/javascripts/cart.js"></script>

	</body>
</html>